site/404.html
site/index.html
site/sitemap.xml
site/sitemap.xml.gz
site/about/index.html
site/assets/images/favicon.png
site/assets/javascripts/bundle.94c44541.min.js
site/assets/javascripts/bundle.94c44541.min.js.map
site/assets/javascripts/glightbox.min.js
site/assets/javascripts/lunr/tinyseg.js
site/assets/javascripts/lunr/wordcut.js
site/assets/javascripts/lunr/min/lunr.ar.min.js
site/assets/javascripts/lunr/min/lunr.da.min.js
site/assets/javascripts/lunr/min/lunr.de.min.js
site/assets/javascripts/lunr/min/lunr.du.min.js
site/assets/javascripts/lunr/min/lunr.es.min.js
site/assets/javascripts/lunr/min/lunr.fi.min.js
site/assets/javascripts/lunr/min/lunr.fr.min.js
site/assets/javascripts/lunr/min/lunr.he.min.js
site/assets/javascripts/lunr/min/lunr.hi.min.js
site/assets/javascripts/lunr/min/lunr.hu.min.js
site/assets/javascripts/lunr/min/lunr.hy.min.js
site/assets/javascripts/lunr/min/lunr.it.min.js
site/assets/javascripts/lunr/min/lunr.ja.min.js
site/assets/javascripts/lunr/min/lunr.jp.min.js
site/assets/javascripts/lunr/min/lunr.kn.min.js
site/assets/javascripts/lunr/min/lunr.ko.min.js
site/assets/javascripts/lunr/min/lunr.multi.min.js
site/assets/javascripts/lunr/min/lunr.nl.min.js
site/assets/javascripts/lunr/min/lunr.no.min.js
site/assets/javascripts/lunr/min/lunr.pt.min.js
site/assets/javascripts/lunr/min/lunr.ro.min.js
site/assets/javascripts/lunr/min/lunr.ru.min.js
site/assets/javascripts/lunr/min/lunr.sa.min.js
site/assets/javascripts/lunr/min/lunr.stemmer.support.min.js
site/assets/javascripts/lunr/min/lunr.sv.min.js
site/assets/javascripts/lunr/min/lunr.ta.min.js
site/assets/javascripts/lunr/min/lunr.te.min.js
site/assets/javascripts/lunr/min/lunr.th.min.js
site/assets/javascripts/lunr/min/lunr.tr.min.js
site/assets/javascripts/lunr/min/lunr.vi.min.js
site/assets/javascripts/lunr/min/lunr.zh.min.js
site/assets/javascripts/workers/search.f886a092.min.js
site/assets/javascripts/workers/search.f886a092.min.js.map
site/assets/stylesheets/glightbox.min.css
site/assets/stylesheets/main.bd3936ea.min.css
site/assets/stylesheets/main.bd3936ea.min.css.map
site/assets/stylesheets/palette.356b1318.min.css
site/assets/stylesheets/palette.356b1318.min.css.map
site/ecma-part1/index.html
site/ecma-part1/annex-a/index.html
site/ecma-part1/annex-b/index.html
site/ecma-part1/annex-c/index.html
site/ecma-part1/annex-d/index.html
site/ecma-part1/annex-e/index.html
site/ecma-part1/annex-f/index.html
site/ecma-part1/annex-g/index.html
site/ecma-part1/annex-h/index.html
site/ecma-part1/annex-i/index.html
site/ecma-part1/annex-j/index.html
site/ecma-part1/annex-k/index.html
site/ecma-part1/annex-m/index.html
site/ecma-part1/annexL/index.html
site/ecma-part1/annexL/drawingml/index.html
site/ecma-part1/annexL/drawingml/3daspects/index.html
site/ecma-part1/annexL/drawingml/audio/index.html
site/ecma-part1/annexL/drawingml/basics/index.html
site/ecma-part1/annexL/drawingml/chart_drawing/index.html
site/ecma-part1/annexL/drawingml/charts/index.html
site/ecma-part1/annexL/drawingml/coordinate/index.html
site/ecma-part1/annexL/drawingml/diagrams/index.html
site/ecma-part1/annexL/drawingml/imgs/3d-1.png
site/ecma-part1/annexL/drawingml/imgs/3d-2.png
site/ecma-part1/annexL/drawingml/imgs/3d-3.png
site/ecma-part1/annexL/drawingml/imgs/3d-4.png
site/ecma-part1/annexL/drawingml/imgs/annexl-1.png
site/ecma-part1/annexL/drawingml/imgs/annexl-2.png
site/ecma-part1/annexL/drawingml/imgs/chart-1.png
site/ecma-part1/annexL/drawingml/imgs/chart-2.png
site/ecma-part1/annexL/drawingml/imgs/chart-3.png
site/ecma-part1/annexL/drawingml/imgs/chart-4.png
site/ecma-part1/annexL/drawingml/imgs/chart-5.png
site/ecma-part1/annexL/drawingml/imgs/chart-6.png
site/ecma-part1/annexL/drawingml/imgs/chart-7.png
site/ecma-part1/annexL/drawingml/imgs/chart-8.png
site/ecma-part1/annexL/drawingml/imgs/chart-9.png
site/ecma-part1/annexL/drawingml/imgs/chart-10.png
site/ecma-part1/annexL/drawingml/imgs/chart-11.png
site/ecma-part1/annexL/drawingml/imgs/chart-12.png
site/ecma-part1/annexL/drawingml/imgs/chart-13.png
site/ecma-part1/annexL/drawingml/imgs/chart-14.png
site/ecma-part1/annexL/drawingml/imgs/chart-15.png
site/ecma-part1/annexL/drawingml/imgs/chart-16.png
site/ecma-part1/annexL/drawingml/imgs/chart-17.png
site/ecma-part1/annexL/drawingml/imgs/chart-18.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-1.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-2.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-3.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-4.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-5.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-6.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-7.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-8.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-9.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-10.png
site/ecma-part1/annexL/drawingml/imgs/coordinate-11.png
site/ecma-part1/annexL/drawingml/imgs/diagram-1.png
site/ecma-part1/annexL/drawingml/imgs/diagram-2.png
site/ecma-part1/annexL/drawingml/imgs/diagram-3.png
site/ecma-part1/annexL/drawingml/imgs/diagram-4.png
site/ecma-part1/annexL/drawingml/imgs/diagram-5.png
site/ecma-part1/annexL/drawingml/imgs/diagram-6.png
site/ecma-part1/annexL/drawingml/imgs/diagram-7.png
site/ecma-part1/annexL/drawingml/imgs/pic-1.png
site/ecma-part1/annexL/drawingml/imgs/pic-2.png
site/ecma-part1/annexL/drawingml/imgs/pic-3.png
site/ecma-part1/annexL/drawingml/imgs/shape-1.png
site/ecma-part1/annexL/drawingml/imgs/shape-2.png
site/ecma-part1/annexL/drawingml/imgs/shape-3.png
site/ecma-part1/annexL/drawingml/imgs/shape-4.png
site/ecma-part1/annexL/drawingml/imgs/shape-5.png
site/ecma-part1/annexL/drawingml/imgs/shape-6.png
site/ecma-part1/annexL/drawingml/imgs/shape-7.png
site/ecma-part1/annexL/drawingml/imgs/shape-8.png
site/ecma-part1/annexL/drawingml/imgs/shape-9.png
site/ecma-part1/annexL/drawingml/imgs/shape-10.png
site/ecma-part1/annexL/drawingml/imgs/shape-11.png
site/ecma-part1/annexL/drawingml/imgs/shape-12.png
site/ecma-part1/annexL/drawingml/imgs/shape-13.png
site/ecma-part1/annexL/drawingml/imgs/shape-14.png
site/ecma-part1/annexL/drawingml/imgs/shape-15.png
site/ecma-part1/annexL/drawingml/imgs/shape-16.png
site/ecma-part1/annexL/drawingml/imgs/shdef-1.png
site/ecma-part1/annexL/drawingml/imgs/shdef-2.png
site/ecma-part1/annexL/drawingml/imgs/shdef-3.png
site/ecma-part1/annexL/drawingml/imgs/shdef-4.png
site/ecma-part1/annexL/drawingml/imgs/shdef-5.png
site/ecma-part1/annexL/drawingml/imgs/shdef-6.png
site/ecma-part1/annexL/drawingml/imgs/shdef-7.png
site/ecma-part1/annexL/drawingml/imgs/styles-1.png
site/ecma-part1/annexL/drawingml/imgs/styles-2.png
site/ecma-part1/annexL/drawingml/imgs/styles-3.png
site/ecma-part1/annexL/drawingml/imgs/styles-4.png
site/ecma-part1/annexL/drawingml/imgs/styles-5.png
site/ecma-part1/annexL/drawingml/imgs/text-1.png
site/ecma-part1/annexL/drawingml/imgs/text-2.png
site/ecma-part1/annexL/drawingml/imgs/text-3.png
site/ecma-part1/annexL/drawingml/imgs/text-4.png
site/ecma-part1/annexL/drawingml/imgs/text-5.png
site/ecma-part1/annexL/drawingml/imgs/text-6.png
site/ecma-part1/annexL/drawingml/imgs/text-7.png
site/ecma-part1/annexL/drawingml/imgs/text-8.png
site/ecma-part1/annexL/drawingml/imgs/text-9.png
site/ecma-part1/annexL/drawingml/imgs/text-10.png
site/ecma-part1/annexL/drawingml/pictures/index.html
site/ecma-part1/annexL/drawingml/shape_def/index.html
site/ecma-part1/annexL/drawingml/shape_pr/index.html
site/ecma-part1/annexL/drawingml/spreadml/index.html
site/ecma-part1/annexL/drawingml/styles/index.html
site/ecma-part1/annexL/drawingml/tables/index.html
site/ecma-part1/annexL/drawingml/text/index.html
site/ecma-part1/annexL/drawingml/wordml/index.html
site/ecma-part1/annexL/imgs/math-1.png
site/ecma-part1/annexL/imgs/openxml-ref-l-1.png
site/ecma-part1/annexL/imgs/openxml-ref-l-2.png
site/ecma-part1/annexL/imgs/openxml-ref-l-3.png
site/ecma-part1/annexL/imgs/openxml-ref-l-4.png
site/ecma-part1/annexL/imgs/openxml-ref-l-5.png
site/ecma-part1/annexL/imgs/openxml-ref-l-6.png
site/ecma-part1/annexL/imgs/openxml-ref-l-7.png
site/ecma-part1/annexL/imgs/openxml-ref-l-8.png
site/ecma-part1/annexL/imgs/openxml-ref-l-9.png
site/ecma-part1/annexL/imgs/openxml-ref-l-10.png
site/ecma-part1/annexL/imgs/openxml-ref-l-11.png
site/ecma-part1/annexL/imgs/openxml-ref-l-12.png
site/ecma-part1/annexL/imgs/vml-1.png
site/ecma-part1/annexL/presentml/index.html
site/ecma-part1/annexL/sharedml/index.html
site/ecma-part1/annexL/spreadml/index.html
site/ecma-part1/annexL/topics/index.html
site/ecma-part1/annexL/vml/index.html
site/ecma-part1/annexL/wordml/index.html
site/ecma-part1/bibliography/index.html
site/ecma-part1/chapter-1/index.html
site/ecma-part1/chapter-10/index.html
site/ecma-part1/chapter-11/index.html
site/ecma-part1/chapter-12/index.html
site/ecma-part1/chapter-13/index.html
site/ecma-part1/chapter-14/index.html
site/ecma-part1/chapter-15/index.html
site/ecma-part1/chapter-16/index.html
site/ecma-part1/chapter-17/index.html
site/ecma-part1/chapter-18/index.html
site/ecma-part1/chapter-2/index.html
site/ecma-part1/chapter-22/index.html
site/ecma-part1/chapter-23/index.html
site/ecma-part1/chapter-3/index.html
site/ecma-part1/chapter-4/index.html
site/ecma-part1/chapter-5/index.html
site/ecma-part1/chapter-6/index.html
site/ecma-part1/chapter-7/index.html
site/ecma-part1/chapter-8/index.html
site/ecma-part1/chapter-9/index.html
site/ecma-part1/chapter19/index.html
site/ecma-part1/chapter19/animation/index.html
site/ecma-part1/chapter19/comments/index.html
site/ecma-part1/chapter19/imgs/19pml-1.png
site/ecma-part1/chapter19/imgs/19pml-2.png
site/ecma-part1/chapter19/imgs/19pml-3.png
site/ecma-part1/chapter19/imgs/19pml-4.png
site/ecma-part1/chapter19/imgs/19pml-5.png
site/ecma-part1/chapter19/imgs/19pml-6-1.png
site/ecma-part1/chapter19/imgs/19pml-6.png
site/ecma-part1/chapter19/imgs/19pml-7.png
site/ecma-part1/chapter19/imgs/19pml-8.png
site/ecma-part1/chapter19/imgs/19pml-9.png
site/ecma-part1/chapter19/imgs/19pml-10.png
site/ecma-part1/chapter19/imgs/19pml-11.png
site/ecma-part1/chapter19/imgs/19pml-12.png
site/ecma-part1/chapter19/imgs/19pml-13.png
site/ecma-part1/chapter19/imgs/19pml-14.png
site/ecma-part1/chapter19/imgs/19pml-15.png
site/ecma-part1/chapter19/imgs/19pml-16.png
site/ecma-part1/chapter19/imgs/19pml-17.png
site/ecma-part1/chapter19/imgs/19pml-18.png
site/ecma-part1/chapter19/imgs/19pml-19.png
site/ecma-part1/chapter19/imgs/19pml-20.png
site/ecma-part1/chapter19/imgs/19pml-21.png
site/ecma-part1/chapter19/imgs/19pml-22.png
site/ecma-part1/chapter19/imgs/19pml-23.png
site/ecma-part1/chapter19/imgs/19pml-24.png
site/ecma-part1/chapter19/imgs/19pml-25.png
site/ecma-part1/chapter19/imgs/19pml-26.png
site/ecma-part1/chapter19/imgs/19pml-27.png
site/ecma-part1/chapter19/imgs/19pml-28.png
site/ecma-part1/chapter19/imgs/19pml-29.png
site/ecma-part1/chapter19/imgs/19pml-30.png
site/ecma-part1/chapter19/imgs/19pml-31.png
site/ecma-part1/chapter19/imgs/19pml-32.png
site/ecma-part1/chapter19/imgs/19pml-33.png
site/ecma-part1/chapter19/imgs/19pml-34.png
site/ecma-part1/chapter19/imgs/19pml-35.png
site/ecma-part1/chapter19/imgs/19pml-36.png
site/ecma-part1/chapter19/imgs/19pml-37.png
site/ecma-part1/chapter19/imgs/19pml-38.png
site/ecma-part1/chapter19/imgs/19pml-39.png
site/ecma-part1/chapter19/imgs/19pml-40.png
site/ecma-part1/chapter19/imgs/19pml-41.png
site/ecma-part1/chapter19/imgs/19pml-42.png
site/ecma-part1/chapter19/imgs/19pml-43.png
site/ecma-part1/chapter19/imgs/19pml-44.png
site/ecma-part1/chapter19/imgs/19pml-45.png
site/ecma-part1/chapter19/imgs/19pml-46.png
site/ecma-part1/chapter19/imgs/19pml-47.png
site/ecma-part1/chapter19/imgs/19pml-48.png
site/ecma-part1/chapter19/imgs/19pml-49.png
site/ecma-part1/chapter19/imgs/19pml-50.png
site/ecma-part1/chapter19/imgs/19pml-51.png
site/ecma-part1/chapter19/imgs/19pml-52.png
site/ecma-part1/chapter19/imgs/19pml-53.png
site/ecma-part1/chapter19/imgs/19pml-54.png
site/ecma-part1/chapter19/imgs/19pml-55.png
site/ecma-part1/chapter19/presentation/index.html
site/ecma-part1/chapter19/simpletypes/index.html
site/ecma-part1/chapter19/slides/index.html
site/ecma-part1/chapter19/slidesyncdata/index.html
site/ecma-part1/chapter19/tableofcontent/index.html
site/ecma-part1/chapter20/index.html
site/ecma-part1/chapter20/imgs/20dml-001.png
site/ecma-part1/chapter20/imgs/20dml-002.png
site/ecma-part1/chapter20/lockedcanvas/index.html
site/ecma-part1/chapter20/main/index.html
site/ecma-part1/chapter20/main/3d/index.html
site/ecma-part1/chapter20/main/audioandvideo/index.html
site/ecma-part1/chapter20/main/basics/index.html
site/ecma-part1/chapter20/main/coordinate/index.html
site/ecma-part1/chapter20/main/imgs/20-dml-42.png
site/ecma-part1/chapter20/main/imgs/20dml-1.png
site/ecma-part1/chapter20/main/imgs/20dml-2.png
site/ecma-part1/chapter20/main/imgs/20dml-3.png
site/ecma-part1/chapter20/main/imgs/20dml-4.png
site/ecma-part1/chapter20/main/imgs/20dml-5.png
site/ecma-part1/chapter20/main/imgs/20dml-6.png
site/ecma-part1/chapter20/main/imgs/20dml-7.png
site/ecma-part1/chapter20/main/imgs/20dml-8.png
site/ecma-part1/chapter20/main/imgs/20dml-9.png
site/ecma-part1/chapter20/main/imgs/20dml-10.png
site/ecma-part1/chapter20/main/imgs/20dml-11.png
site/ecma-part1/chapter20/main/imgs/20dml-12.png
site/ecma-part1/chapter20/main/imgs/20dml-13.png
site/ecma-part1/chapter20/main/imgs/20dml-14.png
site/ecma-part1/chapter20/main/imgs/20dml-15.png
site/ecma-part1/chapter20/main/imgs/20dml-16.png
site/ecma-part1/chapter20/main/imgs/20dml-17.png
site/ecma-part1/chapter20/main/imgs/20dml-18.png
site/ecma-part1/chapter20/main/imgs/20dml-19.png
site/ecma-part1/chapter20/main/imgs/20dml-20.png
site/ecma-part1/chapter20/main/imgs/20dml-21.png
site/ecma-part1/chapter20/main/imgs/20dml-22.png
site/ecma-part1/chapter20/main/imgs/20dml-23.png
site/ecma-part1/chapter20/main/imgs/20dml-24.png
site/ecma-part1/chapter20/main/imgs/20dml-25.png
site/ecma-part1/chapter20/main/imgs/20dml-26.png
site/ecma-part1/chapter20/main/imgs/20dml-27.png
site/ecma-part1/chapter20/main/imgs/20dml-28.png
site/ecma-part1/chapter20/main/imgs/20dml-29.png
site/ecma-part1/chapter20/main/imgs/20dml-30.png
site/ecma-part1/chapter20/main/imgs/20dml-31.png
site/ecma-part1/chapter20/main/imgs/20dml-32.png
site/ecma-part1/chapter20/main/imgs/20dml-33.png
site/ecma-part1/chapter20/main/imgs/20dml-34.png
site/ecma-part1/chapter20/main/imgs/20dml-35.png
site/ecma-part1/chapter20/main/imgs/20dml-36.png
site/ecma-part1/chapter20/main/imgs/20dml-37.png
site/ecma-part1/chapter20/main/imgs/20dml-38.png
site/ecma-part1/chapter20/main/imgs/20dml-39.png
site/ecma-part1/chapter20/main/imgs/20dml-40.png
site/ecma-part1/chapter20/main/imgs/20dml-41.png
site/ecma-part1/chapter20/main/imgs/20dml-42.png
site/ecma-part1/chapter20/main/imgs/20dml-43.png
site/ecma-part1/chapter20/main/imgs/20dml-44.png
site/ecma-part1/chapter20/main/imgs/20dml-45.png
site/ecma-part1/chapter20/main/imgs/20dml-46.png
site/ecma-part1/chapter20/main/imgs/20dml-47.png
site/ecma-part1/chapter20/main/imgs/20dml-48.png
site/ecma-part1/chapter20/main/imgs/20dml-49.png
site/ecma-part1/chapter20/main/imgs/20dml-50.png
site/ecma-part1/chapter20/main/imgs/20dml-51.png
site/ecma-part1/chapter20/main/imgs/20dml-52.png
site/ecma-part1/chapter20/main/imgs/20dml-53.png
site/ecma-part1/chapter20/main/imgs/20dml-54.png
site/ecma-part1/chapter20/main/imgs/20dml-55.png
site/ecma-part1/chapter20/main/imgs/20dml-56.png
site/ecma-part1/chapter20/main/shape_definitions/index.html
site/ecma-part1/chapter20/main/shape_fill/index.html
site/ecma-part1/chapter20/main/shared_style_sheet/index.html
site/ecma-part1/chapter20/main/simple_types/index.html
site/ecma-part1/chapter20/main/styles/index.html
site/ecma-part1/chapter20/main/toc/index.html
site/ecma-part1/chapter20/picture/index.html
site/ecma-part1/chapter20/spreaddrawing/index.html
site/ecma-part1/chapter20/worddrawing/index.html
site/ecma-part1/chapter21/index.html
site/ecma-part1/chapter21/chartDrawing/index.html
site/ecma-part1/chapter21/charts/index.html
site/ecma-part1/chapter21/diagram/index.html
site/ecma-part1/chapter21/imgs/dml-charts1.png
site/ecma-part1/chapter21/imgs/dml-charts2.png
site/ecma-part1/chapter21/imgs/dml-charts3.png
site/ecma-part1/chapter21/imgs/dml-charts4.png
site/ecma-part1/chapter21/imgs/dml-charts5.png
site/ecma-part1/chapter21/imgs/dml-charts6.png
site/ecma-part1/chapter21/imgs/dml-charts7.png
site/ecma-part1/chapter21/imgs/dml-charts8.png
site/ecma-part1/chapter21/imgs/dml-charts9.png
site/ecma-part1/chapter21/imgs/dml-charts10.png
site/ecma-part1/chapter21/imgs/dml-charts11.png
site/ecma-part1/chapter21/imgs/dml-charts12.png
site/ecma-part1/chapter21/imgs/dml-charts13.png
site/ecma-part1/chapter21/imgs/dml-charts14.png
site/ecma-part1/chapter21/imgs/dml-charts15.png
site/ecma-part1/chapter21/imgs/dml-charts16.png
site/ecma-part1/chapter21/imgs/dml-charts17.png
site/ecma-part1/chapter21/imgs/dml-charts18.png
site/ecma-part1/chapter21/imgs/dml-charts19.png
site/ecma-part1/chapter21/imgs/dml-charts20.png
site/ecma-part1/chapter21/imgs/dml-charts21.png
site/ecma-part1/chapter21/imgs/dml-charts22.png
site/ecma-part1/chapter21/imgs/dml-charts23.png
site/ecma-part1/chapter21/imgs/dml-charts24.png
site/ecma-part1/chapter21/imgs/dml-charts25.png
site/ecma-part1/chapter21/imgs/dml-charts26.png
site/ecma-part1/chapter21/imgs/dml-charts27.png
site/ecma-part1/chapter21/imgs/dml-charts28.png
site/ecma-part1/chapter21/imgs/dml-charts29.png
site/ecma-part1/chapter21/imgs/dml-charts30.png
site/ecma-part1/chapter21/imgs/dml-charts31.png
site/ecma-part1/chapter21/imgs/dml-charts32.png
site/ecma-part1/chapter21/imgs/dml-charts33.png
site/ecma-part1/chapter21/imgs/dmlc-1.png
site/ecma-part1/chapter21/imgs/dmlc-2.png
site/ecma-part1/chapter21/imgs/dmlc-3.png
site/ecma-part1/chapter21/imgs/dmlc-4.png
site/ecma-part1/chapter21/imgs/dmlc-5.png
site/ecma-part1/chapter21/imgs/dmlc-6.png
site/ecma-part1/chapter21/imgs/dmlc-7.png
site/ecma-part1/chapter21/imgs/dmlc-8.png
site/ecma-part1/chapter21/imgs/dmlc-9.png
site/ecma-part1/chapter21/imgs/dmlc-10.png
site/ecma-part1/chapter21/imgs/dmlc-11.png
site/ecma-part1/chapter21/main/index.html
site/ecma-part1/chapter22/additionalcharacteri/index.html
site/ecma-part1/chapter22/bibliography/index.html
site/ecma-part1/chapter22/customproperties/index.html
site/ecma-part1/chapter22/customxmldata/index.html
site/ecma-part1/chapter22/extendedproperties/index.html
site/ecma-part1/chapter22/math/index.html
site/ecma-part1/chapter22/officedocumentrelationships/index.html
site/ecma-part1/chapter22/sharedsimpletypes/index.html
site/ecma-part1/chapter22/varianttypes/index.html
site/ecma-part1/imgs/openxml-ref-1-9-2-1.png
site/ecma-part1/imgs/openxml-ref-1-9-2-2.png
site/ecma-part1/imgs/openxml-ref-1-9-2-3.png
site/ecma-part1/imgs/openxml-ref-6-7.png
site/ecma-part2-refrence/index.html
site/ecma-part3-refrence/index.html
site/imgs/openxml-ref-2-7-1-en.png
site/imgs/openxml-ref-2-7-1.png
site/imgs/openxml-ref-2-f-1.png
site/imgs/openxml-ref-2-f-3.png
site/imgs/openxml-ref-2-h-1.png
site/imgs/ppt-decompress.png
site/javascripts/mathjax.js
site/lxml/benchmarksandspeed/index.html
site/lxml/elementtreecompatibilityoflxmletree/index.html
site/lxml/extendlxml/element_classes/index.html
site/lxml/extendlxml/imgs/proxies.png
site/lxml/installinglxml/index.html
site/lxml/lxml/index.html
site/lxml/lxmlfaq/index.html
site/lxml/lxmlobjectify/index.html
site/lxml/whylxml/index.html
site/other/xsd-parse/index.html
site/search/search_index.json
site/struct/presentation/index.html
site/struct/slide/index.html
site/struct/slidelayout/index.html
site/struct/slidemaster/index.html
site/struct/theme/index.html
site/stylesheets/extra.css
site/test/index.html
site/test/function/index.html
site/test/performance/index.html
site/test/pressure/index.html
site/xsd/new/opc/opc-contentTypes/index.html
site/xsd/new/opc/opc-coreProperties/index.html
site/xsd/new/opc/opc-digSig/index.html
site/xsd/new/opc/opc-relationships/index.html
site/xsd/new/xmlSchema/dml-chart/index.html
site/xsd/new/xmlSchema/dml-chartDrawing/index.html
site/xsd/new/xmlSchema/dml-diagram/index.html
site/xsd/new/xmlSchema/dml-lockedCanvas/index.html
site/xsd/new/xmlSchema/dml-main/index.html
site/xsd/new/xmlSchema/dml-picture/index.html
site/xsd/new/xmlSchema/dml-spreadsheetDrawing/index.html
site/xsd/new/xmlSchema/dml-wordprocessingDrawing/index.html
site/xsd/new/xmlSchema/pml/index.html
site/xsd/new/xmlSchema/shared-additionalCharacteristics/index.html
site/xsd/new/xmlSchema/shared-bibliography/index.html
site/xsd/new/xmlSchema/shared-commonSimpleTypes/index.html
site/xsd/new/xmlSchema/shared-customXmlDataProperties/index.html
site/xsd/new/xmlSchema/shared-customXmlSchemaProperties/index.html
site/xsd/new/xmlSchema/shared-documentPropertiesCustom/index.html
site/xsd/new/xmlSchema/shared-documentPropertiesExtended/index.html
site/xsd/new/xmlSchema/shared-documentPropertiesVariantTypes/index.html
site/xsd/new/xmlSchema/shared-math/index.html
site/xsd/new/xmlSchema/shared-relationshipReference/index.html
site/xsd/new/xmlSchema/sml/index.html
site/xsd/new/xmlSchema/wml/index.html
site/xsd/old/xmlSchema/dml-chart/index.html
site/xsd/old/xmlSchema/dml-chartDrawing/index.html
site/xsd/old/xmlSchema/dml-diagram/index.html
site/xsd/old/xmlSchema/dml-lockedCanvas/index.html
site/xsd/old/xmlSchema/dml-main/index.html
site/xsd/old/xmlSchema/dml-picture/index.html
site/xsd/old/xmlSchema/dml-spreadsheetDrawing/index.html
site/xsd/old/xmlSchema/dml-wordprocessingDrawing/index.html
site/xsd/old/xmlSchema/pml/index.html
site/xsd/old/xmlSchema/shared-additionalCharacteristics/index.html
site/xsd/old/xmlSchema/shared-bibliography/index.html
site/xsd/old/xmlSchema/shared-commonSimpleTypes/index.html
site/xsd/old/xmlSchema/shared-customXmlDataProperties/index.html
site/xsd/old/xmlSchema/shared-customXmlSchemaProperties/index.html
site/xsd/old/xmlSchema/shared-documentPropertiesCustom/index.html
site/xsd/old/xmlSchema/shared-documentPropertiesExtended/index.html
site/xsd/old/xmlSchema/shared-documentPropertiesVariantTypes/index.html
site/xsd/old/xmlSchema/shared-math/index.html
site/xsd/old/xmlSchema/shared-relationshipReference/index.html
site/xsd/old/xmlSchema/sml/index.html
site/xsd/old/xmlSchema/vml-main/index.html
site/xsd/old/xmlSchema/vml-officeDrawing/index.html
site/xsd/old/xmlSchema/vml-presentationDrawing/index.html
site/xsd/old/xmlSchema/vml-spreadsheetDrawing/index.html
site/xsd/old/xmlSchema/vml-wordprocessingDrawing/index.html
site/xsd/old/xmlSchema/wml/index.html
